[submodule "_zgen"]
	path = _zgen
	url = https://github.com/tarjoilija/zgen.git
	branch = master
[submodule "_termtile"]
	path = _termtile
	url = https://github.com/apaszke/termtile.git
	branch = master
[submodule "_bitbar-plugins"]
	path = _bitbar-plugins
	url = https://github.com/matryer/bitbar-plugins.git
	branch = master
