"*":
  "atom-htmltidy":
    formatOnSave: false
  "atom-material-ui":
    altCmdPalette: false
    fonts: {}
    panelContrast: true
    tabs: {}
    treeView: {}
    ui: {}
  "autocomplete-python":
    useSnippets: "all"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-babel"
      "tree-view"
    ]
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "material-monokai-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 13
    invisibles: {}
    lineHeight: 1.4
    softWrap: true
  jsformat:
    format_on_save: false
  minimap: {}
  nuclide:
    "nuclide-adb-logcat": {}
    "nuclide-arcanist": {}
    "nuclide-buck": {}
    "nuclide-clang": {}
    "nuclide-console": {}
    "nuclide-datatip": {}
    "nuclide-debugger-native": {}
    "nuclide-debugger-node": {}
    "nuclide-debugger-php": {}
    "nuclide-definition-preview": {}
    "nuclide-distraction-free-mode": {}
    "nuclide-file-tree":
      revealFileOnSwitch: true
      showOpenFiles: false
    "nuclide-flow": {}
    "nuclide-hack": {}
    "nuclide-health": {}
    "nuclide-home": {}
    "nuclide-ios-simulator-logs": {}
    "nuclide-notifications": {}
    "nuclide-ocaml": {}
    "nuclide-python": {}
    "nuclide-quick-open": {}
    "nuclide-react-native": {}
    "nuclide-related-files": {}
    "nuclide-remote-projects": {}
    "nuclide-swift": {}
    "nuclide-vcs-log": {}
    "nuclide-working-sets": {}
    use:
      "nuclide-blame-provider-hg": false
      "nuclide-hg-conflict-resolver": false
      "nuclide-hg-repository": false
      "nuclide-source-control-side-bar": false
  "one-dark-ui":
    layoutMode: "Compact"
  "python-jedi": {}
  react: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "seti-ui":
    compactView: true
    font: "Default Atom Font"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tabs-to-spaces": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
