"*":
  "atom-htmltidy":
    formatOnSave: false
  "atom-material-ui":
    altCmdPalette: false
    compactTreeView: true
    fonts: {}
    panelContrast: true
    panels:
      panelContrast: true
    rippleAccentColor: true
    slimScrollbar: true
    tabSize: "Small"
    tabs:
      tabMinWidth: true
      tabSize: "Small"
    treeView:
      compactTreeView: true
    ui: {}
  "autocomplete-python":
    useSnippets: "all"
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "one-dark-ui"
      "material-monokai-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.4
    softWrap: true
  jsformat:
    format_on_save: false
  "one-dark-ui":
    layoutMode: "Compact"
  "python-jedi": {}
  react: {}
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tabs-to-spaces": {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
